
@tailwind base;
@tailwind components;
@tailwind utilities;

ul li .nuxt-link-exact-active {
    color: #3968F9;
    background-color: #E6ECFE;
}

@layer base {
    @font-face {
      font-family: Graphik;
      font-weight: 100;
      src: url(/fonts/graphik/GraphikThin.otf) format("otf");
    }
    @font-face {
      font-family: Graphik;
      font-weight: 200;
      src: url(/fonts/graphik/GraphikExtralight.otf) format("otf");
    }
    @font-face {
        font-family: Graphik;
        font-weight: 300;
        src: url(/fonts/graphik/GraphikLight.otf) format("otf");
    }
    @font-face {
        font-family: Graphik;
        font-weight: 400;
        src: url(/fonts/graphik/GraphikRegular.otf) format("otf");
    }
    @font-face {
        font-family: Graphik;
        font-weight: 500;
        src: url(/fonts/graphik/GraphikMedium.otf) format("otf");
    }
    @font-face {
        font-family: Graphik;
        font-weight: 600;
        src: url(/fonts/graphik/GraphikSemibold.otf) format("otf");
    }
    @font-face {
        font-family: Graphik;
        font-weight: 700;
        src: url(/fonts/graphik/GraphikBold.otf) format("otf");
    }
    @font-face {
        font-family: Graphik;
        font-weight: 800;
        src: url(/fonts/graphik/GraphikBlack.otf) format("otf");
    }
    @font-face {
        font-family: Graphik;
        font-weight: 900;
        src: url(/fonts/graphik/GraphikSuper.otf) format("otf");
    }
}


@layer utilities {
    .icon-shadow {
        box-shadow: inset 0px -1px 1px rgba(240, 240, 240, 0.5);
            filter: drop-shadow(0px -1px 1px rgba(61, 61, 61, 0.5));
            border-radius: 5px;
    }
    
    .nav-shadow {
        box-shadow: 0px 0px 5px rgba(112, 112, 112, 0.2);
    }
    
    .sidebar-shadow {
        box-shadow: 0px 0px 5px rgba(112, 112, 112, 0.2);
    }
    
    .nuxt-link-active {
        
    }

    .stripe > tr:nth-child(even) {
        background-color: #E6ECFE;
    }

    .stripe > tr:nth-child(even):hover {
        background-color: #CED9FD;
    }
    th {
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        white-space: nowrap;
    }
    th div{
        position: absolute;
        top: 0;
        line-height: normal;
    }
    .checkbox:checked {
        /* Apply class right-0*/
        right: 0;
    }
    .checkbox:checked + .toggle-label {
        /* Apply class bg-indigo-700 */
        background-color: #3968F9;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 15px;
        -webkit-appearance: none;
          appearance: none;
        height: 30px;
        cursor: ew-resize;
        background: #FFF;
        box-shadow: 0px 0px 5px rgba(112, 112, 112, 0.5);
        z-index: 30;
        border-radius: 50%;
        
    }

}

